
@{
    ViewData["Title"] = "AddNewPage";

}

<script src="~/Dashboard/plugins/jquery/jquery.js"></script>



<form method="post" asp-controller="Page" asp-action="New" enctype="multipart/form-data">

    <div class="content-wrapper" style="min-height: 189.167px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Pages</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active">Add New</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card mb-4">
                            <div class="card-header pb-0">
                                <div class="card-body">
                                    <input type="hidden" class="form-control" name="id" id="Id" />
                                    <div class="form-group">
                                        <h6>Title</h6>
                                        <input type="text" id="title" class="form-control" autocomplete="off" placeholder="Enter title">
                                    </div>
                                    <div class="form-group">
                                        <h6>Slug</h6>
                                        <input type="text" id="slug" class="form-control" autocomplete="off" placeholder="Enter slug">
                                    </div>
                                    <div class="form-group Description">
                                        <h6>Description</h6>
                                        <textarea class="form-control" id="textareas" placeholder="Enter Description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-header pb-0">
                                <div class="form-group">
                                    <h6>Featured Image</h6>
                                    <div class="file-upload">
                                        <div class="image-upload-wrap" style="">
                                            <input name="ImageFile" id="images" class="file-upload-input" type="file" onchange="readURL(this);" accept="image/*">
                                            <div class="drag-text">
                                                <h3>Click to Upload Image</h3>
                                            </div>
                                        </div>
                                        <div class="file-upload-content" style="display: none;">
                                            <img class="file-upload-image" src="~/Images/" alt="your image">
                                            <div class="image-title-wrap">
                                                <button type="button" onclick="removeUpload()" class="remove-image">
                                                    Remove <span class="image-title">Uploaded Image</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Metades">
                                    <div class="form-group">
                                        <h6>Meta Description</h6>
                                        <input type="text" class="form-control" id="desc" placeholder="Enter meta description">
                                    </div>
                                    <div class="form-group">
                                        <h6>Meta Keyword</h6>
                                        <input type="text" class="form-control" id="key" placeholder="Enter meta keyword">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="form-group">
                                <h6 class="Publish">Active</h6>
                            </div>
                            <div class="padd10">
                                <input type="radio" id="publish1" class="isActive" name="isActive" value="True" checked /> True
                                <input type="radio" id="publish" class="isActive" name="isActive" value="False" /> False
                                @*<div class="flexcreat">
            <div>
                <input class="form-check-input" type="radio" name="name" id="publish1" value="yes" checked>
                <label class="form-check-label">Yes</label>
            </div>
            <div>
                <input class="form-check-input" type="radio" name="name" id="publish" value="no">
                <label class="form-check-label">No</label>
            </div>
        </div>*@
                                <div class="padd10">
                                    @*<button id="btn-submit" class="btn btn-primary" type="button" onclick="InsertPage()">Publish</button>*@

                                    <button id="resetPage" type="button" class="btn btn-danger" onclick="Reset()">Reset</button>
                                    <button id="insPage" type="button" class="btn btn-info float-right" onclick="InsertPage()"> Add New Page</button>
                                    <button id="updPage" type="button" class="btn btn-info float-right" onclick="updatePage()"> update Page</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
</form>


<script>

    $(document).ready(function () {
        console.log("ready!");
        PageList();
    });

    $(function () {

        toastr.success("page loaded");
        $('#insPage').show();
        $('#updPage').hide();
        //PageList();
        //$('#edit').summernote();


        $("#title").keyup(function () {
            var Text = $(this).val();
            Text = Text.toLowerCase();
            Text = Text.replace(/[^a-zA-Z0-9]+/g, '-');
            $("#slug").val(Text);
        });

    })
    var pageForm = function () {
        var content = $('textarea[name="Description"]').html($('#edit').code());
    }

    function InsertPage() {
        //here we are checking it's validation.//
        debugger;
        if ($("#title").val() == "") {
            toastr.error("Please Enter Title ")
        }
        else if ($("#slug").val() == "") {
            toastr.error("Please Enter Slug ")
        }
        else if ($("#desc").val() == "") {
            toastr.error("Please enter description ")
        }
        else if ($("#images").val() == "") {
            toastr.error("Please select image ")
        }
        else if ($('#key').val() === '') {
            toastr.error("Please enter key ")
        }
        else if ($("#isActive").val() == "") {
            toastr.error("IsActive is required")
        }

        else {
            var instobj = {

                Title: $("#title").val(),
                Slug: $("#slug").val(),
                // Description: $("#Description").val(),
                Description: $('#textareas').summernote('code'),
                Image: $("#images").val(),
                isActive: $('input[name="isActive"]:checked').val(),
                //publish: $('input[name="isActive"]:checked').val(),
                metaDesc: $('#desc').val(),
                metaKeys: $('#key').val()

            };

            $.ajax({
                url: "/Page/InsertPage",
                type: "POST",
                data: instobj,
                success: function (result) {
                    toastr.success("The data is inserted successfully");
                    PageList();
                    Reset();

                },

                error: function (result) {
                    toastr.error("Error is occurs");
                }
            });
        }
    }

    function PageList() {
        debugger;
        // alert('hello');
        $.ajax({
            url: "/Page/PageList",
            type: "GET",
            dataType: "Json",
            success: function (result) {
                debugger;
                // console.log('here the results showing', result);

                var html = '';
                var sno = 1;
                $.each(result, function (key, item) {
                    // console.log('alam ko item results', item);
                    html += '<tr>';
                    html += '<td>' + sno + '</td>';
                    html += '<td>' + item.title + '</td>';
                    html += '  <td>' + item.slug + '</td>';
                    html += ' <td>' + item.description + '</td>';
                    html += ' <td><img src="../Images/' + item.image + '" height="50" width="50"/></td>';
                    html += ' <td>' + item.isActive + '</td>';

                    html += ' <td style= "Display:flex;"><button type="button" class="btn btn-danger" style="margin-right:5%;" onclick="deleteconfirm(' + item.id + ')"  class="deletepag" data-id="' + item.Id + '" ><i class="far fa-trash-alt"></i></button>';
                    html += '| <button type="button" class="btn btn-primary"  onclick="Edit(' + item.id + ')">  <i class="fas fa-pencil-alt"></i></button></td>';

                    html += '</tr>';
                    sno++;
                });
                $(".page").html(html);
            }
        });
    }

    $('.page').on('click', "#deletePage", function () {
        var id = $(this).attr("data-id");
        var image = $(this).attr("data-img");
        DeletePage(id, image);
    });

    function Edit(Id) {
        // console.log("function called");

        $.ajax({
            url: "/Page/GetPageById?Id=" + Id,
            type: "GET",
            dataType: "Json",
            success: function (result) {
                //console.log('allam result', result);
                $('#insPage').hide();
                $('#updPage').show();
                $('#Showdata').modal('show');

                $("#id").val(result.id),
                    $("#title").val(result.title),
                    $("#slug").val(result.slug),
                    $("#edit").summernote("code", result.description);
                $("#Imagedit").html('<img src="../Images/' + result.image + '" height="50" width="50" />');
                if (result.isActive) {
                    $('#publish1').prop('checked', true);
                }
                else {
                    $('#publish').prop('checked', true);
                }
                $('#desc').val(result.metaDesc);
                $('#key').val(result.metaKeys);
                PageList();
            },

            error: function (result) {
                toastr.error("Error is occurs");
            },
        });
    }

    function updatePage() {

        var updobj = {
            Id: $("#id").val(),
            Title: $("tTitle").val(),
            Slug: $("#slug").val(),
            Description: $("#description").val(),
            Image: $("#images").val(),
            isActive: $('input[name="isActive"]:checked').val(),
            metaDesc: $('#desc').val(),
            metaKeys: $('#key').val()

        }
        $.ajax({
            url: "/Page/UpdatePage",
            type: "POST",
            data: updobj,
            success: function (result) {
                toastr.success("The data is Updated successfully");
                PageList();
                Reset();
                $('#insPage').show();
                $('#updPage').hide();
            },
            error: function (result) {
                toastr.error("The error is occuring on updating time");
            }
        });
    }

    function deletePage(Id) {

        $.ajax({
            url: "/Page/DeletePage",
            data: { id: Id },
            type: "Post",
            success: function (result) {
                toastr.success("You have deleted successfully");
                PageList();

            },
            error: function (result) {
                toastr.error("The error is occuring on Deleting Data");
            },
        });
    };

    function Reset() {
        $("#title").val('');
        $("#slug").val('');
        //$("#edit").summernote('code', "");
        $("#images").val('');
        $("#Imagedit").html('');
        $("#deltId").val('');
        $('#textareas').summernote('code', "");
        //$('#categoryId').val("");
        // $('#ImageFile').val("");
        $('#desc').val("");
        $('#key').val("");

    }

    $('.hide input[type="radio"]').click(function () {
        var value = $(this).val();
        $.ajax({
            url: "/Page/InsertPage",
            type: 'post',
            data: { ajax: 1, value: value },
            success: function (response) {
                $('#response').text(value);
            }
        });
    });

    function deleteconfirm(id) {
        //debugger;
        var con = confirm("Are you sure you want to delete this Record?");
        if (con === true) {
            $('#deletePage1').modal('show');
            $('#deltId').val(id);
        }
    }

    $(".custom-file-input").on("change", function () {
        //console.log($(this));
        //var filename = $(this).val().split("\\").pop();
        //$(this).next(".custom-file-label").html(filename);

        var filelabel1 = $(this).next(".custom-file-input");
        var files = $(this)[0].files;
        if (files.length > 1) {
            filelabel1.html(files.length + 'files selected');

        }
        else if (files.length == 1) {
            filelabel1.html(files[0].name);
        }
    })

</script>